<h2 class="fw-bold mb-4">글 작성</h2>

<form method="post">

  <label class="fw-semibold">제목</label>
  <input name="title" class="form-control mb-3" required>

  <label class="fw-semibold">내용</label>
  <textarea name="content" rows="10" class="form-control mb-3"></textarea>

  <button class="btn btn-success btn-custom">등록</button>
</form>
